.App{
    border-top: 10px;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    display: grid;

    grid-template-rows: 1fr 8fr;
    grid-template-columns: 1fr 6fr;
    
    grid-template-areas: 
    "header header"
    "navBar main";

}

/* .header{
    grid-area: header;
    background-color: blue;
} */

/* .navBar{
    grid-area: navBar;
    background-color: green;
    height: 300px;
}

.itemNB{
    margin: 5px;
    font-size: 25px;
    color: wheat;
} */



/* .imgH{
    width: 100px;
} */

/* .hat{
    grid-area: hat;
    margin: 1%;
    width: 98%;
    height: 130px;
    
}

.main{
    grid-area: main;
    background-color: red;
    display: grid;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 18% 1fr;

    grid-template-areas: 
    "hat hat"
    "avatar diskription";
}

.avatar{
    margin: 10%;
    width: 100px;
    grid-area: avatar;
}

.description{
    margin: 2%;
    grid-area: diskription;
}

.posts{
    margin-left: 20%;
    font-size: 20px;
}

.itemP{
    margin: 10px;
    font-size: 17px;
} */